body {
  background-color: rgb(30, 30, 30);
}
h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  margin: 50px;
}
.setLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 0px 40px 0px;
}
.cardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardWrapper img {
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 14px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  filter: brightness(0.4);
}
.bright img {
  filter: brightness(1);
}
.cardCounter {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
.cardWrapper:hover img {
  filter: brightness(0.7);
}
.cardNumber {
  font-weight: bold;
  margin: 10px 0px;
}
.copies {
  font-weight: normal;
  margin: 10px 0px;
}
.buttonRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardCounter button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  font-weight: bold;
  width: 40px;
  height: 40px;
}
.cardWrapper:hover .cardCounter {
  display: flex;
}